.name{
    font-size: 1.8em;
    margin-bottom: 0;
}

.subname{
    font-size: 1em;
    margin-top:.5em;
}

.about{
    margin-top: 5em;
}

.skills div{
    margin-top: .2em;
}

#social-barrier{
    margin-top: 0;
}

.social-medias a img{
    width: 20%;
    margin-top: 3em;
}

.btn-download{
    margin-top: 2em;
}

#portifolio a img {
    width: 90%;
}

.portifolio-imgs div a img{
    border: .2em solid #bbdefb;
}

#trainning{
    margin-top: 2em;
}

.alura-imgs div a img{
    width: 50%;
}

#contact div a i{
    vertical-align: middle;
}

#contact div a {
    color: white;
}